# API Framework
fastapi==0.111.0
uvicorn==0.29.0

# Validación de datos
pydantic==2.7.1
pydantic-settings==2.2.1

# HTTP client
httpx==0.27.0
requests==2.31.0

# Variables de entorno
python-dotenv==1.0.1

# Seguridad / Auth
python-jose==3.3.0

# Testing
pytest==8.2.0
pytest-asyncio==0.23.6
